// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'Lato-regular';
  src: url('../assets/fonts/lato-regular.woff2');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/lato-bold.woff2');
}

* {
  font-family: 'Lato-regular';
}

hr, .content-ios hr {
  border-bottom: solid 1px #D7D7D7;
  margin-bottom: 10px;
  height: 1px !important;
  background: none !important;
}

p {
  color: #696969;
  line-height: 23px;
  font-size: 16px;
}

ion-header .toolbar-background:first-child {
  background-color: $appRed;
  border-color: $appRed;
  height: 60px;
}

ion-header {
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  background-color: $appRed;
  .left-btn {
    float: left;
  }
  .right-btn {
    float: right;
  }
  .back-button {
    float: left;
  }
  .button[icon-only] {
    color: #fff !important;
  }
}

#like-follow-wrap {
  background: #ffffff;
  border-top: #979797 1px solid;
  border-bottom: #979797 1px solid;
  padding: 20px 0;
  .rate-us {
    font-size: 16px;
    color: $appGrey;
    text-align: center;
    a {
      color: $appGrey;
      text-decoration: none;
    }
    ion-icon {
      color: #FCB034;
      font-size: 30px;
      position: relative;
      bottom: -4px;
    }
  }
  #like-follow {
    padding-bottom: 20px;
  }
}

#like-follow {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $appRed;
  padding-bottom: 30px;
  span {
    display: block;
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    margin: 0 18px;
  }
}

#tabs {
  text-align: center;
  .segment-md .segment-button,
  .segment-ios .segment-button {
    text-transform: uppercase !important;
    color: $appGrey;
    border: none;
    border-radius: 0 !important;
    border-bottom: transparent 3px solid;
    font-size: 16px !important;
    background: none;
  }
  .segment-md .segment-button.segment-activated,
  .segment-ios .segment-button.segment-activated {
    bordeR: none;
    border-bottom: $appRed 3px solid;
    color: #000000;
  }
}

.visit-firestore-webiste {
  line-height: 48px;
  background: $appRed;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
}

.post {
  h6 {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    margin: 0;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
  }
  .post-info {
    img {
      float: right;
      width: 20px;
    }
  }
}

#news-posts {
  border-bottom: #979797 1px solid;
  margin-bottom: 30px;
  .news-post {
    background: #FAFAFA;
    border-top: #979797 1px solid;
    overflow: hidden;
    color: #000;
    font-weight: 700;
    line-height: 23px;
    font-size: 16px;
    img {
      float: left;
      margin-right: 25px;
    }
    span {
      font-weight: 400;
      color: $appGrey;
      font-size: 12px;
      display: block;
      padding-top: 10px;
    }
  }
}

ion-footer {
  bottom: 0 !important;
}

